*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
}

body {
  color: #fafafa;
  background-color: #202124;
  background-attachment: fixed;
}

a {
  color: #fff;
  font-weight: bold;
}

a:hover {
  color: #fa9900;
}

.btn-cta {
  position: relative;
  display: inline-block;
  margin-top: 40px;
  padding: 15px 30px;
  font-size: 25px;
  text-decoration: none;
  background-color: #f9bf3b;
  border: 1px solid #f9bf3b;
  border-radius: 5px;
  color: #000;
  box-shadow: 3px 3px 2px rgba(0, 0, 0, 0.2);
  transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}
.btn-cta svg {
  fill: #000;
  height: 1.1em;
  width: 1.1em;
  vertical-align: text-top;
  margin-right: 10px;
}
/* This is pre-rendering the shadow change for better performance */
.btn-cta::after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  box-shadow: 7px 7px 6px rgba(0, 0, 0, 0.35);
  border-radius: 2px;
  opacity: 0;
  transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}
.btn-cta:not(.disabled):hover::after {
  opacity: 1;
}
.btn-cta:not(.disabled):hover {
  border-radius: 3px;
  color: #000;
  background-color: #fbd06f;
}

.btn-cta.disabled {
  background-color: rgba(200, 200, 200, 0.6);
  cursor: not-allowed;
}
.btn-cta.disabled:hover {
  color: #000;
}
.btn-cta.secondary {
  background-color: transparent;
  border: 1px solid #f9bf3b;
  color: #fff;
  font-weight: normal;
  padding: 15px 20px;
}

.btn-cta.btn-sm {
  font-size: 16px;
  padding: 8px 12px;
}
.btn-cta.btn-md {
  font-size: 20px;
  padding: 10px 15px;
}

#body-container {
  max-width: 1250px;
  padding: 50px;
  margin: auto;
}

#main-nav > ul,
.block,
header .wrapper {
  max-width: 1135px;
  margin: auto;
  position: relative;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #303134;
  color: #e8eaed;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 5;
  box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.2);
}

header .wrapper {
  padding: 8px 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header h1 {
  font-size: 40px;
  display: inline-block;
  vertical-align: middle;
}

header .logo {
  text-decoration: none;
  color: #e8eaed;
}
header .logo:hover {
  color: #fff;
}

header .logo img {
  height: 50px;
  vertical-align: middle;
}

header .btn-cta {
  margin: 0;
}

.icon {
  max-height: 1em;
  width: 100%;
  fill: #fff;
  display: inline;
  vertical-align: sub;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.2);
}

#main-content {
  padding-top: 72px;
}

.block {
  padding: 60px 30px;
}

.block h2,
.block h1 {
  text-align: center;
  font-weight: bold;
}

.block h2 {
  font-size: 32px;
  margin-bottom: 25px;
}

#catch {
  text-align: center;
  padding-bottom: 40px;
}

#catch h1 {
  font-size: 40px;
}
#catch h2 {
  font-size: 30px;
  color: #bbb;
  margin-top: 10px;
}

.catch-btns {
  display: flex;
  justify-content: center;
  text-align: start;
}
.catch-btns > div {
  margin: 10px;
}
.catch-btns p {
  padding-top: 8px;
  font-size: 12px;
  margin-bottom: 25px;
}
.catch-btns .btn-cta {
  margin-top: 15px;
}

#access-list {
  display: flex;
}

#access-list > div {
  flex: 1;
  text-align: center;
  margin: 25px;
}

#access-list img {
  width: 100%;
  max-width: 230px;
  height: auto;
  margin-bottom: 12px;
}

#access-list .description {
  font-size: 18px;
  font-weight: 600;
}

#description p {
  padding: 6px 0;
  line-height: 1.4em;
  text-align: justify;
}

.block-small {
  padding-top: 0;
}

#features {
  padding-bottom: 10px;
}

#features .grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#features .grid > div {
  flex: 0 0 calc(50% - 40px);
  margin: 20px;
  text-align: center;
}

#features .img-preview,
#features .description {
  margin: auto;
}

#features .img-preview {
  position: relative;
  display: block;
  max-width: 400px;
  max-height: 200px;
  overflow: hidden;
  background-color: #fff;
  transition: all 0.3s ease;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
  border: none;
}

#features .img-preview::after {
  display: inline-block;
  cursor: pointer;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  content: '';
  background-repeat: no-repeat;
  background-position: center;
  background-size: 25%;
  opacity: 0;
  transition: all 0.2s ease;
  background-image: url(../img/zoom.svg);
  background-color: rgba(0, 0, 0, 0.3);
}

#features .img-preview:hover {
  transform: scale(1.05);
  box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.5);
}

#features .img-preview:hover::after {
  opacity: 1;
}

#features img {
  width: 100%;
  height: auto;
}

#features .description {
  font-size: 22px;
  font-weight: 600;
  margin-top: 15px;
}

#download {
  text-align: center;
}
#download h2 {
  font-size: 38px;
  font-weight: bolder;
  margin-bottom: 10px;
}
#download h3 {
  margin-bottom: 8px;
}

#browser-install-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  margin-top: 30px;
  gap: 50px;
}

#browser-install-list > div {
  flex: 1;
  position: relative;
  margin-top: 30px;
}

#browser-install-list img {
  display: block;
  width: 100%;
  max-height: 150px;
  margin: auto;
}

#browser-install-list .btn-cta {
  width: 100%;
  max-width: 200px;
}

#browser-install-list .coming-soon {
  position: absolute;
  width: 100%;
  margin-top: 5px;
  font-weight: 700;
}

.ad {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.ad > img {
  max-height: 120px;
}

.ad .btn-cta {
  margin-top: 5px;
}

#contribution {
  display: flex;
  gap: 100px;
}
#contribution > div {
  flex: 1;
}

#github-block,
#suggestions-block {
  display: flex;
  align-items: center;
  max-width: 700px;
  margin: auto;
}

#github-block svg {
  width: 100%;
  height: 100%;
  max-width: 150px;
  margin-right: 30px;
  fill: white;
}

#github-block h3 {
  font-size: 20px;
  margin-bottom: 10px;
}

#suggestions-block h2 {
  font-size: 24px;
  text-align: left;
  margin-bottom: 10px;
}

#suggestions-block .btn-cta {
  margin-top: 10px;
}

#suggestions-block .image {
  margin-right: 25px;
  max-height: 170px;
  max-width: 170px;
}
#suggestions-block .image svg {
  height: 100%;
  width: 100%;
  fill: #00a743;
  filter: drop-shadow(1px 1px 1px rgba(0, 0, 0, 0.5));
}

footer.block {
  padding: 30px;
  font-size: 16px;
  text-align: center;
  color: #bababa;
}

footer.block p {
  margin-top: 5px;
  position: relative;
}

.inline-icon {
  height: 1em;
  width: 1em;
  fill: white;
  display: inline-flex;
  align-self: center;
  top: 0.125em;
  margin-right: 0.2em;
  position: relative;
}

.inline-icon + a,
.inline-icon {
}

.copyright {
  padding-top: 8px;
  font-size: 12px;
}

#img-preview {
  display: grid;
  position: fixed;
  top: 0;
  left: 0;
  width: 0;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 30;
  cursor: pointer;
  opacity: 0;
  transition: opacity 0.3s ease;
}

#img-preview.visible {
  opacity: 1;
  bottom: 0;
  right: 0;
  width: 100%;
}

#img-preview.hiding {
  opacity: 0;
  bottom: 0;
  right: 0;
  width: 100%;
}

#img-preview .container {
  margin: auto;
  max-width: 95%;
  max-height: 95%;
  position: relative;
  background-color: #fff;
  cursor: default;
  overflow: hidden;
}

#img-preview img {
  min-height: 100px;
  min-width: 200px;
  width: auto;
  height: auto;
}
#img-preview .description {
  color: #444;
  padding: 10px;
  padding-top: 0;
  font-size: 16px;
  font-weight: 600;
  text-align: center;
}

.privacy {
  text-align: center;
  font-size: 26px;
}

.not-found svg {
  width: 100%;
  height: 100%;
  max-width: 80px;
  margin-bottom: 20px;
  aspect-ratio: 1;
}

/* Phones */
@media screen and (max-width: 560px) {
  header h1 {
    font-size: 35px;
  }
  header .btn-cta {
    display: none;
  }

  .btn-cta {
    margin-top: 30px;
    padding: 15px 25px;
  }

  #catch h1 {
    font-size: 27px;
  }
  #catch h2 {
    font-size: 24px;
  }
  .catch-btns {
    display: block;
    text-align: center;
  }

  .block h2 {
    font-size: 22px;
  }

  #access-list {
    display: block;
  }

  #features .grid {
    display: block;
  }
  #features .description {
    margin-top: 5px;
    font-size: 17px;
  }
  #features .grid > div {
    margin-bottom: 30px;
  }
  #browser-install-list {
    gap: 70px;
  }
  #browser-install-list img {
    max-width: 150px;
  }
  #browser-install-list .btn-cta {
    margin-top: 15px;
  }

  #contribution {
    display: block;
    padding-top: 0;
  }
  #contribution > div {
    margin-top: 60px;
  }

  #img-preview img {
    width: 100%;
  }

  footer.block {
    padding-top: 0;
    font-size: 14px;
  }
}

/* Tiny phones */
@media screen and (max-width: 405px) {
  header .logo {
    width: 100%;
  }
  header a {
    display: flex;
    gap: 5px;
  }
  header h1 {
    flex: 1;
    font-size: 28px;
    line-height: 50px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }
  header .wrapper,
  .block {
    padding: 8px 15px;
  }
  .block {
    padding-top: 30px;
  }
  #catch h1 {
    font-size: 26px;
  }
  #browser-install-list {
    display: block;
  }
  #browser-install-list > div {
    margin-top: 80px;
    margin-bottom: 20px;
  }
  #browser-install-list > div:first-child {
    margin-top: 30px;
  }

  footer.block {
    margin-top: 40px;
  }
}

/* Tablets */
@media screen and (min-width: 560px) and (max-width: 800px) {
  #features .img-preview {
    max-width: 300px;
    max-height: 110px;
  }

  #contribution {
    display: block;
    padding-top: 0;
  }
  #contribution > div {
    margin-top: 60px;
  }
}
