html, body {
    height: 100%;
    min-height: 600px;
    min-width: 400px;
}

body {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    padding: 0;
    margin: 0;
    width: 100%;
    font-size: 1em;
    overflow: hidden;
}

body * {
    box-sizing: border-box;
    text-align: start;
}

button::-moz-focus-inner {
    border: 0;
}

#pageTitle {
    flex: 0 0 auto;
    flex-shrink: 0;
    overflow: hidden;
    padding: 0.5em;
    background-color: #fafafa;
    border-bottom: 1px solid rgba(0, 0, 0, 0.15);
}
#pageTitle .titles {
    display: inline-block;
}
#pageTitle img {
    margin-right: 10px;
    height: 2.259em;
}
#pageTitle h1, #pageTitle h2 {
    margin: 0;
    padding: 0;
}

#pageTitle h1 {
    font-size: 1.25em;
}

#pageTitle h2 {
    font-size: 1em;
    color: #1a1a1a;
    font-weight: normal;
}

#cookie-container {
    overflow-y: auto;
    background-color: #eaeaea;
    flex: 1 1 auto;
}
#cookie-container > .container {
    margin-top: 2em;
    text-align: center;
    font-size: 1.2em;
}

.panel.button-bar {
    flex: 0 0 auto;
}

#cookie-container ul {
    margin: 0;
    padding: 0;
    padding-bottom: 15px;
    list-style-type: none;
}

#cookie-container li .header {
    padding: 1.25em 1em;
    font-weight: bold;
    border: 1px solid #cacaca;
    background-color: #ffffff;
    position: relative;
    -moz-user-select: none;
    user-select: none;
}
#cookie-container li .header .btns {
    display: none;
}

#cookie-container li .header .fa-angle-down {
    -moz-transition: transform 150ms ease-in 0s;
    transition: transform 150ms ease-in 0s;
    margin-right: 10px;
}

#cookie-container li .header.active .fa-angle-down {
    -moz-transform: rotate(180deg);
    transform: rotate(180deg);
}

#cookie-container li .expando {
    display: flex;
    flex-direction: column-reverse;
    padding: 1.25em 1em;
    padding-bottom: 0.4em;
}
.form.container div:first-child {
    margin-bottom: 0.75em;
}

#cookie-container textarea, #cookie-container input[type="text"] {
    width: 100%;
    font-size: 1em;
    font-family: inherit;
    resize: vertical;
    margin: 0;
    padding: 1em 0.5em;
}

label {
    display: block;
    margin: 0;
}

.panel-section-footer-button {
    font-size: 0.75em;
    line-height: 0.75em;
}

.button-bar {
    display: none;
}

.button-bar.active {
    display: block;
}

.container.form {
    flex: 1;
    padding-left: 4px;
}

.action-btns {
    display: flex;
    flex-direction: row-reverse;
    padding-top: 26px;
    padding: 4px;
    -moz-user-select: none;
    user-select: none;
}

.action-btns button {
    flex: 1 1 auto;
    align-items: stretch;
    text-align: center;
    border: none;
    background-color: transparent;
    padding: 18px;
}

.action-btns button:active {
    background-color: rgba(0, 0, 0, 0.1);
}

.action-btns button:last-child {
    border-right: 1px solid rgba(0, 0, 0, 0.1);
}

.panel-section-footer {
    background-color: rgba(0, 0, 0, 0.06);
    border-top: 1px solid rgba(0, 0, 0, 0.15);
    color: #1a1a1a;
    display: flex;
    flex-direction: row;
    height: 65px;
    margin-top: -1px;
    padding: 0;
    -moz-user-select: none;
    user-select: none;
}
.panel-section-footer-button {
    flex: 1 1 auto;
    height: 100%;
    line-height: 36px;
    font-size: 18px;
    margin: 0 -1px;
    padding: 12px;
    text-align: center;
}
.panel-section-footer-button:active {
    background-color: rgba(0, 0, 0, 0.1);
}
.panel-section-footer-separator {
    background-color: rgba(0, 0, 0, 0.1);
    width: 1px;
    z-index: 99;
}