html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    padding: 0;
    margin: 0;
    width: 100%;
    font-size: 1em;
    overflow: hidden;
    background-color: #ffffff;
}
.panel-section-footer {
    background-color: #fafafa;
}
#cookie-container {
    position: absolute;
    width: 100%;
    bottom: 40px;
    top: 0;
    min-height: initial;
    max-height: initial;
    min-width: initial;
    max-width: initial;
}
.panel.button-bar {
    position: absolute;
    bottom: 0;
    width: 100%;
}