html, body {
    height: 100%;
    min-width: auto;
}

body {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    padding: 0;
    margin: 0;
    width: 100%;
    font-size: 1em;
    overflow: hidden;
    background-color: #ffffff;
}
.panel-section-footer {
    background-color: #fafafa;
}
#cookie-container {
    overflow-y: auto;
    background-color: #eaeaea;
    flex: 1 1 auto;
    min-height: initial;
    max-height: initial;
    min-width: initial;
    max-width: initial;
}
.button-bar {
    display: none;
    background-color: #f0f0f0;
    flex: 0 0 auto;
    border-top: 1px solid rgba(0, 0, 0, 0.15);
    z-index: 5;
}

#no-permission > div {
    font-size: 0.95em;
    padding: 10px;
}