body {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
    min-width: 500px;
    font-size: 12px;
    overflow: hidden;
    font-family: "Segoe UI", Tahoma, sans-serif;
    background-color: #ffffff;
}

body * {
    box-sizing: border-box;
    text-align: start;
}

button::-moz-focus-inner {
    border: 0;
}

svg.icon {
  height: 1em;
  width: 1em;
  pointer-events: none;
}

.container {
    padding: 8px 16px;
}

#pageTitle {
    font-size: 16px;
    overflow: hidden;
    line-height: 16px;
    margin: 5px 0;
    
    white-space: nowrap;
    text-overflow: ellipsis;
    min-width: 0;
}

h2 {
    margin: 0;
    padding: 0;
}

button {
    cursor: pointer;
}

#cookie-container {
    min-height: 100px;
    min-width: 300px;
    max-height: 400px;
    overflow-y: auto;
    background-color: #eaeaea;
}

#cookie-container ul {
    margin: 0;
    padding: 0;
    padding-bottom: 15px;
    list-style-type: none;
}

#cookie-container li .header {
    border: 1px solid #cacaca;
    position: relative;
    cursor: pointer;
    -moz-user-select: none;
    user-select: none;
    background-color: #ffffff;
}

#cookie-container li .header .btns {
    display: none;
    position: absolute;
    right: 16px;
    top: 4px;
}

#cookie-container li .header:hover .btns {
    display: block;
}

#cookie-container li .header .icon.arrow {
    -moz-transition: transform 150ms ease-in 0s;
    transition: transform 150ms ease-in 0s;
    margin-right: 10px;
}

#cookie-container li .header.active .icon.arrow {
    -moz-transform: rotate(180deg);
    transform: rotate(180deg);
}

#cookie-container li .expando {
    max-height: 0;
    display: flex;
    overflow: hidden;
}

#cookie-container li .expando .wrapper {
    flex: 1;
    display: flex;
}

#cookie-container textarea, #cookie-container input[type="text"] {
    width: 100%;
    margin: 0;
}

#cookie-container textarea {
    height: 60px;
    resize: none;
}

#cookie-container textarea.json {
    height: 360px;
}

label {
    display: block;
    margin: 0;
}

.panel-section-footer-button {
    font-size: 14px;
    line-height: 14px;
}

.button-bar {
    display: none;
    z-index: 5;
    background-color: #f0f0f0;
}

.button-bar.active {
    display: block;
}

.container.form {
    flex: 1;
    padding-left: 4px;
}

.action-btns {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    padding-top: 26px;
    padding: 4px;
}

.action-btns button {
    flex: 1 1 auto;
    border: none;
    background-color: transparent;
    cursor: pointer;
    padding: 8px;
    transition: color 75ms;
    transition-timing-function: ease-in;
}

.action-btns button:hover {
    opacity: 0.5;
}
.action-btns button.delete:hover, button.delete.browser-style:hover {
    fill: #CF000F;
    opacity: 0.8;
}
.action-btns button.save:hover {
    fill: #1E824C;
    opacity: 0.8;
}

/* Quick workaround the rendering issue for popups */
body, .expando, #cookie-container {
	background-image: url("pixel.png");
}

.panel-section-footer {
    background-color: rgba(0, 0, 0, 0.06);
    border-top: 1px solid rgba(0, 0, 0, 0.15);
    color: #1a1a1a;
    display: flex;
    flex-direction: row;
    height: 41px;
    margin-top: -1px;
    padding: 0;
    -moz-user-select: none;
    user-select: none;
}
.panel-section-footer-button {
    flex: 1 1 auto;
    height: 100%;
    margin: 0 -1px;
    padding: 12px;
    text-align: center;
    cursor: pointer;
}
.panel-section-footer-button:hover {
    background-color: rgba(0, 0, 0, 0.08);
}
.panel-section-footer-separator {
    background-color: rgba(0, 0, 0, 0.1);
    width: 1px;
    z-index: 99;
}

#notification-container {
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 50px; 
    text-align: center;
    opacity: 1;
    transition: opacity 150ms ease-in 0s;
    pointer-events: none;
}

#notification {
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    padding-right: 25px;
    margin: auto 25px;
    background-color: rgba(0, 0, 0, 0.75);
    border-radius: 5px;
    color: #fafafa;
    font-size: 14px;
    pointer-events: auto;
    animation-duration: 0.3s;
    animation-fill-mode: both;
    opacity: 0;
}

.fadeInUp {
    opacity: 0;
    animation-name: fadeInUp;
}
.fadeOutDown {
    opacity: 0;
    animation-name: fadeOutDown;
}

#notification-dismiss {
    position: absolute;
    top: 5px;
    right: 2px;
    background: none;
    border: none;
    background-color: transparent;
    cursor: pointer;
    fill: #656565;
}

#notification-dismiss svg {
    width: 0.9em;
    height: 0.9em;
}
#notification:hover #notification-dismiss {
    fill: #aaa;
}
#notification:hover #notification-dismiss:hover {
    fill: #fafafa;
}

@keyframes fadeInUp {
    from {
        transform: translate3d(0,40px,0);
    }

    to {
        transform: translate3d(0,0,0);
        opacity: 1
    }
}
@keyframes fadeOutDown {
    from {
        transform: translate3d(0,0,0);
        opacity: 1;
    }

    to {
        transform: translate3d(0,40px,0);
        opacity: 0;
    }
}