body {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
    min-width: 500px;
    font-size: 12px;
    overflow: hidden;
    font-family: "Segoe UI", Tahoma, sans-serif;
    background-color: #ffffff;
}

body * {
    box-sizing: border-box;
    text-align: start;
}

button::-moz-focus-inner {
    border: 0;
}

svg.icon {
  height: 1em;
  width: 1em;
  pointer-events: none;
}

.container {
    padding: 8px 16px;
}

#pageTitle {
    overflow: hidden;
}

#pageTitle h1 {
    font-size: 16px;
    line-height: 16px;
    margin: 5px 0;
    overflow: hidden;    
    white-space: nowrap;
    text-overflow: ellipsis;
    min-width: 0;
}

h2 {
    margin: 0;
    padding: 0;
}

button {
    cursor: pointer;
}
button:focus {outline:0;}

#cookie-container {
    min-height: 100px;
    min-width: 300px;
    max-height: 400px;
    overflow-y: auto;
    background-color: #eaeaea;
}

#no-cookies {
    margin-top: 2em;
    text-align: center;
    font-size: 1.2em;
}

#cookie-container ul {
    margin: 0;
    padding: 0;
    padding-bottom: 15px;
    list-style-type: none;
}

#cookie-container .header {
    border: 1px solid #cacaca;
    position: relative;
    cursor: pointer;
    -moz-user-select: none;
    user-select: none;
    background-color: #ffffff;
}

#cookie-container li .header .btns {
    display: block;
    opacity: 0;
    position: absolute;
    right: 16px;
    top: 4px;
    transition: all 100ms ease;
}

#cookie-container li .header:hover .btns {
    opacity: 1;
}

#cookie-container li .header .icon.arrow {
    -moz-transition: transform 150ms ease-in 0s;
    transition: transform 150ms ease-in 0s;
    margin-right: 10px;
}

#cookie-container li .header.active .icon.arrow {
    -moz-transform: rotate(180deg);
    transform: rotate(180deg);
}

#cookie-container .expando {
    max-height: 0;
    display: flex;
    overflow: hidden;
}

#cookie-container .expando .wrapper {
    flex: 1;
    display: flex;
}

#cookie-container textarea, #cookie-container input[type="text"] {
    width: 100%;
    margin: 0;
    padding: 4px;
    font-family: "Segoe UI", Tahoma, sans-serif;
    border: 1px solid rgb(150,150,150);
}

#cookie-container textarea:hover, #cookie-container input[type="text"]:hover {
    border-color: rgb(82, 130, 192);
    box-shadow: 1px 1px 5px rgba(150, 150, 150, 0.4);
}

#cookie-container textarea {
    height: 60px;
    resize: none;
}

#cookie-container textarea.json {
    height: 360px;
    font-family: Consolas,Monaco,monospace;
}

label {
    display: block;
    margin: 0;
}

.panel-section-footer-button {
    font-size: 14px;
    line-height: 14px;
}

.button-bar {
    display: none;
    z-index: 5;
    background-color: #f0f0f0;
}

.button-bar.active {
    display: block;
}

.container.form {
    flex: 1;
    padding-left: 4px;
}
.container.form label {
    font-weight: 500;
}

.container.form div:last-child {
    margin-top: 5px;
}

.action-btns {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    padding: 4px;
}

.action-btns .tooltip {
    display: none;
}

.btns button.delete {
    background-color: #fbfbfb;
    border: 1px solid #b1b1b1;
    height: 24px;
    outline: 0 !important;
    padding: 0 8px 0;
    transition-duration: 250ms;
    transition-property: box-shadow, border;
}

.btns button.delete::-moz-focus-inner {
    border: 0;
    outline: 0;
}

.action-btns button {
    flex: 1 1;
    border: none;
    background-color: transparent;
    cursor: pointer;
    padding: 8px;
    transition: color 75ms;
    transition-timing-function: ease-in;
}

.action-btns button, .btns button {
    transition: all 100ms ease;
    fill: #000000;
}

.action-btns button:hover {
    opacity: 0.5;
}
button.delete:hover {
    fill: #CF000F;
    opacity: 0.8;
}
.action-btns button.save:hover {
    fill: #1E824C;
    opacity: 0.8;
}

/* Quick workaround the rendering issue for popups */
body, .expando, #cookie-container {
	background-image: url("pixel.png");
}

.panel-section-footer {
    background-color: rgba(0, 0, 0, 0.06);
    border-top: 1px solid rgba(0, 0, 0, 0.15);
    color: #1a1a1a;
    display: flex;
    flex-direction: row;
    height: 41px;
    margin-top: -1px;
    padding: 0;
    -moz-user-select: none;
    user-select: none;
    overflow: hidden;
}
.panel-section-footer-button {
    flex: 1 1;
    padding: 12px;
    text-align: center;
    cursor: pointer;
    transition: all 150ms ease;
}
.panel-section-footer-button:hover {
    background-color: rgba(0, 0, 0, 0.08);
}
.panel-section-footer-button.primary:hover {
    background-color: #1b98f1;
    color: #fff;
    fill: #fff;
}
.panel-section-footer-button.danger:hover {
    background-color: #f800002b;
}

.panel-section-footer-separator {
    background-color: rgba(0, 0, 0, 0.1);
    width: 1px;
    z-index: 99;
}

.panel-section-footer-button > div {
    text-align: center;
    transition: transform 100ms ease;
}
.panel-section-footer-button .tooltip {
    text-align: center;
    color: #888;
    transition: all 200ms ease;
    opacity: 0;
}
.panel-section-footer-button:hover > div {
    transform: translateY(-6px);
}
.panel-section-footer-button:hover .tooltip {
    color: #444;
    opacity: 1;
}

.panel-section-footer-button.primary .tooltip {
    color: #bfbfbf;
}
.panel-section-footer-button.primary:hover .tooltip { 
    color: #efefef;
}

#notification-container {
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 50px; 
    text-align: center;
    opacity: 1;
    transition: opacity 150ms ease-in 0s;
    pointer-events: none;
    padding: 0 25px;
}

#notification {
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    padding-right: 25px;
    margin: auto;
    background-color: rgba(0, 0, 0, 0.75);
    border-radius: 5px;
    color: #fafafa;
    font-size: 14px;
    pointer-events: auto;
    animation-duration: 0.3s;
    animation-fill-mode: both;
    opacity: 0;
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-word;
    max-width: 100%;
}

.fadeInUp {
    opacity: 0;
    animation-name: fadeInUp;
}
.fadeOutDown {
    opacity: 0;
    animation-name: fadeOutDown;
}

#notification-dismiss {
    position: absolute;
    top: 5px;
    right: 2px;
    background: none;
    border: none;
    background-color: transparent;
    cursor: pointer;
    fill: #656565;
}

#notification-dismiss svg {
    width: 0.9em;
    height: 0.9em;
}
#notification:hover #notification-dismiss {
    fill: #aaa;
}
#notification:hover #notification-dismiss:hover {
    fill: #fafafa;
}

@keyframes fadeInUp {
    from {
        transform: translate3d(0,40px,0);
    }

    to {
        transform: translate3d(0,0,0);
        opacity: 1
    }
}
@keyframes fadeOutDown {
    from {
        transform: translate3d(0,0,0);
        opacity: 1;
    }

    to {
        transform: translate3d(0,40px,0);
        opacity: 0;
    }
}

[data-tooltip], [data-tooltip-left] {
    position: relative;
}

[data-tooltip]::after, [data-tooltip-left]::after {
    position: absolute;
    top: 49%;
    padding: 3px 10px;
    min-width: 40px;
    background-color: rgba(0, 0, 0, 0.85);
    color: #fff;
    text-align: center;
    border-radius: 4px;
    white-space: nowrap;
    opacity: 0;
    z-index: 50;
    visibility: hidden;
}
[data-tooltip]::after {
    content: attr(data-tooltip);
    left: 100%;
    margin-left: 10px;
    transform: translate(-30px, -50%);
}
[data-tooltip-left]::after {
    content: attr(data-tooltip-left);
    right: 100%;
    margin-right: 7px;
    transform: translate(20px, -50%);
}

[data-tooltip]:hover::after, [data-tooltip-left]:hover::after {
    opacity: 1;
    transition: all 0.1s ease 0.5s;
    visibility: visible;
    transform: translateY(-50%);
}

.anim-value-changed, #cookie-container .anim-value-changed {
    animation-name: changed-value;
    animation-duration: 0.5s;
}

@keyframes changed-value {
    0% {background-color: #fff; }
    50% {background-color: #fdfb8e; }
    100% {background-color: #fff; }
}

.anim-success, #cookie-container .anim-success {
    animation-name: success;
    animation-duration: 0.5s;
    border: 1px solid initial
}

@keyframes success {
    0% {background-color: transparent; }
    50% {background-color: #9ee7a8; }
    100% {background-color: transparent; }
}